# Unity SmartMerge (UnityYAMLMerge) for YAML-based assets
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.mat merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
